<HTML>
    <HEAD>
        <META name="viewport" content="width=device-width, initial-scale=1">
        <META charset="UTF=8">
        <TITLE>Flower Image Classification</TITLE>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    </HEAD>
    <BODY>
        
    </BODY>
    </HTML>
    
    
    
    <!DOCTYPE html>
    <HTML>
    <HEAD>
        <META name="viewport" content="width=device-width, initial-scale=1">
        <META charset="UTF=8">
        <TITLE>Flower Image Classification</TITLE>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    </HEAD>
    <BODY>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Flower Recognition</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="upload">Upload Image</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="url">Check URL</a>
                </li> -->
              </ul>
            </div>
          </nav>
          
          <main role="main" class="container">
            <div class="jumbotron">
                <h3>Upload Image</h3>
                <form method=post enctype=multipart/form-data>
                    <div class="form-group">
                        <input type="file" class="form-control-file" name="file">
                    </div>
                    <button type="submit" class="btn btn-success">Upload & Classify</button>
                </form>
            </div>
          </main>
    </BODY>
    </HTML>